@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* Add a black background color to the top navigation */
.topnav {
  float: right;
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: darkblue;
  text-align: center;
  padding: 4px 8px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: maroon;
}

