@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    font-family: 'Oswald', sans-serif;
}

}
            h1{
                text-align: center;
            }
            .main {
                width: 110px;
                padding-left: 20px;
                border-color: coral;
                border-style: dashed;
                margin-left: 50px;
                
            }
            h3{
                margin-left: 50px;
            }
            ul{
                list-style: none;
                margin-left: 20px;
            }
            img{
                float: right;
                margin: 0 10em 0 0;
            }