@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Literata:ital@0;1&display=swap');
body{
  font-family: 'IM Fell Double Pica', serif;
  font-family: 'Literata', serif;
  padding:0 3em 0 3em;
  color: goldenrod;
} 
.title{
  font-size: 40px;
  background-color: maroon;
  padding: 0px 10px;
  border-radius: 10px;
}
.navbar {
  overflow: hidden;
  background-color: maroon;
  border-radius: 10px;
}
.navbar a {
  float: left;
  font-size: 20px;
  color: goldenrod;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 20px;  
  border: none;
  outline: none;
  color: goldenrod  ;
  padding: 14px 16px;
  background-color: maroon;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: goldenrod;
  color: maroon;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: maroon;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}
.dropdown-content a {
  float: none;
  color: goldenrod;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 10px;
}
.dropdown-content a:hover {
  background-color: goldenrod;
  color: maroon;
}
.show {
  display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: goldenrod;
    color: maroon;
}
