
html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container-fluid{
  padding: 3%;
}

nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F7D4E3; 
}

nav a:hover {
  color: black;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#home{
    margin-bottom: 120px;
    padding-bottom: 120px;
    background-color:  #F7D4E3;
}

.sectionTitle-home{
  padding: 3% 0%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.introduction{
  padding: 10px 10px;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 5%;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 20px;
  box-shadow: 5px 10px 12px #888888;
}

#aboutMe{
  margin: 5% 0 0 0;
  padding: 5% 0 0 0;
}

.work-edu-row{
  margin: 0% 2%;
}

img{
  width: 80%;
  margin-top: 5%;
  border-radius: 20px;
  box-shadow: 5px 10px 12px #888888;
}

.sectionTitle{
  padding-bottom: 3%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.work-education{
  text-align: left;
  margin: 0 2%;
}

.work-edu-row{
  margin: 0% 2%;
}

.email-and-phone{
  font-size: 30px;
}

#contact-info{
    text-align: center;
    margin: 100px 0px;
    padding: 8% 0%;
    padding-bottom: 100px;
    background-color:  #F7D4E3;
}

#skills-and-interests{
    margin: 2% 0% 5%;
    padding: 2% 0%;
}

.jobTitle{
    font-size: 25px;
}
h2{
    padding: 2% 0 4% 0;
    text-align: center;
    font-size: 30px;
    color: #C21460;
}
.projectLinks {
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
}

.projectLinks:hover{
  background-color: #F7D4E3;
  cursor: pointer;
}

.details{
    color: #FF87AB;
}
.skills-section{
  margin: 0% 2%;
}

a:link{
    text-decoration: none;
}
a:hover{
    color:  #C21460;
}

